/*
 * Avant l'accolade on met le sélecteur (ici 'h1')
 * Il y a trois propriétés :
 *   - color : couleur du texte, on utilise une couleur prédéfinie
 *   - text-align : ici on centre le titre
 *   - border : propriété compacte : épaisseur, type de trait,
                couleur (ici en rgb, mais on aurait pu utiliser 'green')
 */
h1
{
	color: red;
	text-align: center;
	border: 1px solid rgb(0,255,0);
}
