h1
{
	color: red;
	text-align: center;
	border: 1px solid rgb(0,255,0);
}

/* des tableaux un peu plus élégants */
table
{
	margin-left: auto;
	margin-right: auto;
	border: solid black 2px;
	border-collapse : collapse;
}

table > caption
{
	background-color: rgb(230,255,230);
}

th, td
{
	border: solid black 1px;
	padding: 5px;
}

th
{
	background-color: rgb(230,255,230);
}

/* pour délimiter les zones de test pour les événements souris */
img.test
{
	border: solid red 1px;
}

div.test
{
	border: solid blue 1px;
	width: 100px;
	height: 112px;
}
