/*
Sélectionne tous les éléments <em>
 */
em {
    font-weight: bold;
    color: red;
}

/*
Sélectionne les éléments <em> directement inclus dans un <li>
 */
li > em {
    text-style : italic;
    color: gray;
}

/*
Sélectionne les éléments <em> directement inclus dans un <em>
directement inclus dans un <li>
 */
li > em > em {
    text-decoration: underline;
    color: blueviolet;
}

/*
Sélectionne les éléments <em> directement inclus dans un <em>
directement inclus dans un <em> directement inclus dans un <li>
 */
li > em > em > em {
    color: green;
    border: 1px solid black;
}