/***********************************************/
/* sélection des légendes des fieldset         */
/***********************************************/
/*
{
	font-style : italic;
}
*/
/***********************************************/
/* Rajout de '/' avant et après chaque légende */
/***********************************************/
/*
{
	content : '/';
}
*/
/***********************************************/
/* sélection du formulaire qui doit être envoyé*/
/* à nobody@nowhere.fr								         */
/***********************************************/
/*

{
	background-color : rgb(0,255,255);
}
*/

/***********************************************/
/* sélection des balises input de type text    */
/***********************************************/
/*
{
	background-color : rgb(220,220,220);
}
*/
/***********************************************/
/* sélection de la première option du select   */
/***********************************************/
/*
{
	text-decoration : underline;
}
*/

/***********************************************/
/* sélection de l'input d'identifiant 'p'			 */
/* lorsqu'elle a le focus											 */
/***********************************************/
/*
{
	background-color : yellow;
}
*/
/***********************************************/
/* sélection d'une input "active"						   */
/***********************************************/
/*
{
	background-color : red;
}
*/
/***********************************************/
/* sélection du fieldset sur lequel passe la   */
/* souris                       						   */
/***********************************************/
/*
{
	background-color : rgb(220,220,220);
	color : red;
}
*/
/***********************************************/
/* Tous les descendants d'un fieldset 				 */
/* doivent avoir la même couleur d'écriture    */
/* que celle définie pour le fieldset					 */
/***********************************************/
/*
{
	color : inherit;
}
*/
/***********************************************/
/* La première lettre du texte de chaque option*/
/***********************************************/
/*
{
	font-weight : bolder;
	color : blue;
	text-transform : uppercase;
}
*/
