/***********************************************/
/* sélection des titres de niveau 1            */
/***********************************************/

/*{
	text-decoration : underline;
}
*/
/***********************************************/
/* sélection des listes ordonnées et           */
/* non ordonnées															 */
/***********************************************/

/*
{
	border : groove 2px red;
	width : 50%;
}*/


/***********************************************/
/* sélection du dernier paragraphe             */
/***********************************************/
/*
{
	color : white;
	background-color : black;
} 
*/

/***********************************************/
/* sélection de tous les éléments dont l'id		 */
/* commence par div1-	ou est égal à div1			 */
/***********************************************/
/*
{
	border : solid 1px green;
}
*/
/***********************************************/
/* sélection de texte faiblement mis en valeur */
/* dans un paragraphe													 */
/***********************************************/
/*
{
	color : rgb(220,220,220);
}
*/

/***********************************************/
/* sélection de texte fortement mis en valeur  */
/* dans le paragraphe	div1-intro	 					   */
/***********************************************/
/*
{
	color : rgb(220,220,0);
}
*/

/***********************************************/
/* sélection des divisions situées juste après */
/* un titre h2 																 */
/***********************************************/

/*
{
	color :red;
}
*/

/***********************************************/
/* sélection des items des listes ordonnées    */
/***********************************************/

/*
{
	color : green;
}
*/
/***********************************************/
/* sélection des éléments juste après un <hr/  */
/***********************************************/
/*
{
	font-style : italic;
}
*/
/***********************************************/
/* sélection des items des listes 						 */
/* non ordonnées incluses dans la div1		  	 */
/***********************************************/
/*

{
	color : blue;
}
*/
