h1
{
	color: red;
	text-align: center;
	border: 1px solid rgb(0,255,0);
}

/* pour visualiser les div ajoutés */
div.ajout
{
	border: red solid 1px;
	background-color: rgb(255,230,230);
	margin: 2px;
}

div.ajout > p
{
	border: blue dashed 1px;
}
