/*
* Dans ce fichier sont données toutes les règles CSS, il ne manque QUE
*  les sélecteurs appropriés spécifiés dans les commentaires.
*/



/* La couleur du fond de la page est "moccasin" */

/*
{
    background-color : moccasin;
}
*/


/* Les titres de niveau 1, 2 et 3 de la page sont écrits en "brown" */ 

/*
{
    color : brown;
}
*/


/* Les titres de niveau 2 ont une marge supérieure de 10 pixels */

/*
{
    margin-top : 10px;
}
*/

/* Les divisions situées juste après un titre de niveau 1 ont une
   largeur de 30%, un texte centré, sont écrits en italique sur un
   fond blanc */

/*
{
    width : 30%;
    text-align: center;
    font-style : italic;
    background-color: white;
}
*/


/* Les deuxièmes et troisièmes divisions après un titre de niveau 1
   ont un affichage de type inline-block et un alignement vertical
   "top" */

/*
{
    display : inline-block;
    vertical-align : top;
    
}
*/

/* Le premier span inclus dans un item de liste est écrit en vert */

/*
{
    color : green;
}
*/

/* Le deuxième span inclus dans un item de liste est écrit en gras */

/*
{
    font-weight : bold;
}
*/

/* Les éléments de la classe "facultatif" sont écrits en italique */

/*
{
    font-style : italic;
}
*/

/* La troisième division après un titre h1 ont une marge gauche de 10% */

/*
{
    margin-left : 10%;
}
*/

/* La cinquième division après un titre h1 a une largeur de 40%, une
bordure arrondie de 25px, une marge interne de 1%, une marge externe
haute de 10% et un fond blanc
*/

/*{
   
    width : 40%;
    border-radius : 25px;
    padding : 1%;
    margin-top : 10px;
    background-color : white;
}
*/

