
.sidebar{
	border-right : solid 1px red;
}


.header{
	position : fixed;
	top : 0%;
	bottom : 80%;
	left : 20%;
	border-color : red;
	overflow : hidden;
	z-index : 2;
}

.footer{
	position : fixed;
	bottom : 0%;
	top : 80%;
	left : 20%;
	z-index : -1;
}

.sidebar{
	position : fixed;
	left : 0%;
	top : 20%;
	bottom : 20%;
	right : 80%;
	z-index : 2;
}

.content{
	position : absolute;
	left : 20%;
	top : 20%;
	bottom : 20%;
	border : solid 1px red;
	border-left : none;
	overflow : scroll;
	background-color : rgb(220,220,255) !important;
}

#menu-vertical {
	position : relative;
	top : 20%;
	color: green;
}

#menu-horizontal > li{
	display : inline-block;
	border-right : 2px red solid;
	border-bottom : 2px red solid; 
	background-color : rgb(240,240,240);
	color : red;
	/*margin-left : -5px;*/
}

.content p:first-letter{
	font-family : fantasy;
	font-size : 5em;
	float: left;
	color : blue;
}

*[id|=menu]{
	font-family : Alpha Geometrique, Critter, Cottonwood, fantasy;
	font-size : 1.5em;
}


#siflogo{
	position : absolute ;
	right : 0%;
	top : 0%;
	background-color : yellow;
}
