#saison1{
	background-color : rgb(240,240,240);
}

#saison2{
	background-color : rgb(200,200,200);
}

#saison3{
	background-color : rgb(150,150,150);
}

.pref{
	color : blueviolet;
}

a[href]{
	background-color : yellow;
}

a[class="en"]{
	font-style : italic;
}

a[class|="en"]{
	font-weight : normal;
	font-size : 1.5em;
}

a[class~="en"]{
	text-decoration : underline;
}