h2{
	background-color : rgb(240,240,240);
}

body > p{
	border : solid 1px black;
}

body p{
	background-color : yellow;
}

ol p {
	background-color: blue;
}

li + li{
	font-style : italic;
}

li:first-child{
	text-transform : uppercase;
}