a:hover, input:hover{
	background-color : yellow;
}

:link{
	border : dashed black 1px;	
}

:focus{
	background-color : rgb(200,20,20);
}

:active{
	text-decoration : underline;
}

:visited{
	font-size : 1.5em;
	color : green;
}