li.pref:first-child{
	text-transform : uppercase;
}

a:hover{
	background-color : yellow;
}

input:hover{
	background-color : green;
}

body li.pref>p{
	border : red 1px groove;
}

input:focus{
	background-color : red;
}