li:first-letter{
	font-size : 2em;
	color : red;
	background-color : yellow;
}

*:first-line{
	color : blue;
	background-color : aliceblue;
}

h2:before{
	content : "/******";
	color : red;
}

h2:after{
	content : "******/";
	color : green;
}