/* Attribution de la couleur de fond "burlywood" au corps de la page web */

/*
{
    background-color : burlywood;
}
*/


/* Propriétés caractéristiques des titres de niveau 1 */

/*
{
    width : 90%;
    text-align : center;
    color : brown;
    text-transform : uppercase;
}
*/


/* propriété des divisions appartenant à la classe "invite" */

/*
{
    text-align : center;
}
*/


/* Propriétés des items de liste */

/*
{
    list-style-type : none;
    width : 90%;
    height : 100px;
    border : 1px solid burlywood;
    background-color : brown;
    color : burlywood;
}
*/


/* Propriétés de tous les liens */

/*
{
    text-decoration : none;
    font-style : italic;
}
*/


/* Propriété de toutes les divisions qui sont un enfant d'un item de liste */

/*
{
    width : 100%;
}
*/


/* Propriété des liens inclus dans un item de liste */

/*
{
    color : white;
 
}
*/


/* Propriété des liens visités inclus dans un titre de niveau 1 */

/*
{
    color : brown;
}
*/


/* propriété du premier item de la liste */
/*
{
    border : 4px white solid;
}
*/


/* propriété des divisions qui sont premier enfant d'un item de liste */

/*
{
    font-size : 1.5em;
    text-align : center;
}
*/


/* propriété des divisions qui sont deuxième enfant d'un item de liste */

/*
{
    text-align : right;
}
*/


/* Propriété du lien qui permet d'envoyer un lien à Serge Abiteboul */

/*
{
    text-decoration : underline;
}
*/


/* Affichage de "Invité(es) :" en italique avant les divisions appartenant à la classe "invite" */

/*
{
    content : "Invité(es) :";
    font-style : italic;
}
*/

