.cache
{
	background-color: white;
	color: white;
	border: 1px black solid;
}

.cache:hover
{
	color: black;
}

.cache_visible
{
	color: black;
}

.intrusion:hover
{
	background-color: rgb(255,255,150);
}
